# Warsztaty Python w Data Science

---
## Inżyniera Cech (Feature Engineering) - część 2 z 3  

- ### Przekleństwo wymiarowości
- ### Umiejętne przygotowanie modeli wektorowych
- ### Dobór cech
- ### Redukcja wymiarów
  - #### Funkcje hashujące
  - #### SVD
  - #### LDA

---
# Przekleństwo wymiarowości

![Dimension levels](img/Dimension_levels.svg.png)  

https://en.wikipedia.org/wiki/Hypercube

- ## Przekątna kostki 1-wymiarowej o boku 1:  $ d = \sqrt{1} $
- ## Przekątna kostki 2-wymiarowej o boku 1:  $ d = \sqrt{2} $
- ## Przekątna kostki 3-wymiarowej o boku 1:  $ d = \sqrt{3} $
- ## Przekątna kostki 4-wymiarowej o boku 1:  $ d = \sqrt{4} $

---

In [119]:
import pandas as pd

data = pd.read_csv('data/gumtree-2022-03-20.tsv', sep='\t', index_col=0)

In [120]:
data

,url,title,description,price,District,m2,Data dodania,Na sprzedaż przez,Rodzaj nieruchomości,Liczba pokoi,Liczba łazienek
0,https://www.gumtree.pl/a-mieszkania-i-domy-spr...,Mieszkanie Warszawa Śródmieście 93.9m2 (nr: M-...,<br/><br/><i>Numer oferty w biurze: M-101293-1...,1500000.0,Śródmieście,94.0,06/03/2022,Agencja,Mieszkanie,3 pokoje,1 łazienka
1,https://www.gumtree.pl/a-mieszkania-i-domy-spr...,Dom Warszawa Wawer 185m2 (nr: D-100575-16),<br/><br/><i>Numer oferty w biurze: D-100575-1...,1580000.0,Wawer,185.0,06/03/2022,Agencja,Dom,6 lub więcej pokoi,2 łazienki
2,https://www.gumtree.pl/a-mieszkania-i-domy-spr...,Mieszkanie Warszawa Ochota 39.2m2 (nr: M-10171...,<br/><br/><i>Numer oferty w biurze: M-101712-1...,500000.0,Ochota,40.0,06/03/2022,Agencja,Mieszkanie,2 pokoje,1 łazienka
3,https://www.gumtree.pl/a-mieszkania-i-domy-spr...,Mieszkanie Warszawa Wilanów 51.4m2 (nr: M-1008...,<br/><br/><i>Numer oferty w biurze: M-100859-1...,858628.0,Wilanów,52.0,06/03/2022,Agencja,Mieszkanie,2 pokoje,1 łazienka
4,https://www.gumtree.pl/a-mieszkania-i-domy-spr...,Mieszkanie Warszawa Białołęka 92m2 (nr: M-9786...,<br/><br/><i>Numer oferty w biurze: M-97860-16...,899000.0,Białołęka,92.0,06/03/2022,Agencja,Mieszkanie,4 pokoje,1 łazienka
...,...,...,...,...,...,...,...,...,...,...,...
970,https://www.gumtree.pl/a-mieszkania-i-domy-spr...,》》》Mokotów / świetna lokalizacja / 3p / 2 balk...,<b>Na sprzedaż trzypokojowe mieszkanie w świet...,1035000.0,Mokotów,69.0,05/03/2022,Agencja,Mieszkanie,3 pokoje,1 łazienka
971,https://www.gumtree.pl/a-mieszkania-i-domy-spr...,》》》Wilanów / 3p / balkon / 2 łazienki / rozkł...,"<b>Świetne, rozkładowe mieszkanie trzypokojowe...",650000.0,Wilanów,64.0,05/03/2022,Agencja,Mieszkanie,3 pokoje,2 łazienki
972,https://www.gumtree.pl/a-mieszkania-i-domy-spr...,》》》Ursynów / 3p / świetna lokalizacja / widna ...,<b>Ustawne i rozkładowe mieszkanie trzypokojow...,899000.0,Ursynów,63.0,05/03/2022,Agencja,Mieszkanie,3 pokoje,2 łazienki
973,https://www.gumtree.pl/a-mieszkania-i-domy-spr...,》》》Mokotów / 2p / świetna lokalizacja / możliw...,"<b>Rozkładowe i przestronne, dwupokojowe miesz...",770000.0,Mokotów,70.0,05/03/2022,Agencja,Mieszkanie,2 pokoje,2 łazienki
974,https://www.gumtree.pl/a-mieszkania-i-domy-spr...,》》》Ochota / 4p / garaż / zamknięte osiedle / o...,"<div><b>Rewelacyjne, dwupoziomowe mieszkanie c...",1450000.0,Ochota,120.0,05/03/2022,Agencja,Mieszkanie,4 pokoje,2 łazienki

In [121]:
opis = data['description'][6]
opis

'<p>Sprzedam mieszkanie o powierzchni\r\n45,05 m2 składające się z trzech pokoi, kuchni, łazienki, przedpokoju oraz\r\nbalkonu. Do mieszkania przynależy obszerna piwnica.</p><p>Mieszkanie jest bardzo\r\njasne i rozkładowe, po remoncie, gotowe do zamieszkania.<br/>\n<br/>\r\nMieści się na 1 piętrze w 8-piętrowym budynku (z windą).<br/>\n<br/>\r\nCzynsz ok 385 zł<br/>\n<br/>\r\nStatus prawny: pełna własność z księgą wieczystą<br/>\n<br/>\r\nDużym atutem mieszkania jest doskonała lokalizacja – ul.\r\nKasprowicza 20 na Starych Bielanach. Bardzo dobra komunikacja - 300 m do\r\nstacji metra Słodowiec, autobusy i tramwaje.<br/>\n<br/>\r\nW okolicy\r\nliczne sklepy, punkty usługowe i gastronomiczne, zielona i cicha okolica, w\r\npobliżu  Lasek Bielański, Stawy Kellera, AWF.</p><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><p>\r\n\r\n\r\n\r\nAgencje proszę nie dzwonić, ewentualne spotkania\r\ntylko z konkretnym klientem.<br/>\n<br/>\n</p><br/><br/>'

In [122]:
import re

def no_tags(s):
    return re.sub(r'<[^<]+?>','',s)

opis = no_tags(opis)
opis

'Sprzedam mieszkanie o powierzchni\r\n45,05 m2 składające się z trzech pokoi, kuchni, łazienki, przedpokoju oraz\r\nbalkonu. Do mieszkania przynależy obszerna piwnica.Mieszkanie jest bardzo\r\njasne i rozkładowe, po remoncie, gotowe do zamieszkania.\n\r\nMieści się na 1 piętrze w 8-piętrowym budynku (z windą).\n\r\nCzynsz ok 385 zł\n\r\nStatus prawny: pełna własność z księgą wieczystą\n\r\nDużym atutem mieszkania jest doskonała lokalizacja – ul.\r\nKasprowicza 20 na Starych Bielanach. Bardzo dobra komunikacja - 300 m do\r\nstacji metra Słodowiec, autobusy i tramwaje.\n\r\nW okolicy\r\nliczne sklepy, punkty usługowe i gastronomiczne, zielona i cicha okolica, w\r\npobliżu  Lasek Bielański, Stawy Kellera, AWF.\r\n\r\n\r\n\r\nAgencje proszę nie dzwonić, ewentualne spotkania\r\ntylko z konkretnym klientem.\n\n'

In [123]:
import re

tokenizer = re.compile(r'[^ąąćęńłóóśśżżź\w]+')
tokenized = tokenizer.split(opis)
str(tokenized)

"['Sprzedam', 'mieszkanie', 'o', 'powierzchni', '45', '05', 'm2', 'składające', 'się', 'z', 'trzech', 'pokoi', 'kuchni', 'łazienki', 'przedpokoju', 'oraz', 'balkonu', 'Do', 'mieszkania', 'przynależy', 'obszerna', 'piwnica', 'Mieszkanie', 'jest', 'bardzo', 'jasne', 'i', 'rozkładowe', 'po', 'remoncie', 'gotowe', 'do', 'zamieszkania', 'Mieści', 'się', 'na', '1', 'piętrze', 'w', '8', 'piętrowym', 'budynku', 'z', 'windą', 'Czynsz', 'ok', '385', 'zł', 'Status', 'prawny', 'pełna', 'własność', 'z', 'księgą', 'wieczystą', 'Dużym', 'atutem', 'mieszkania', 'jest', 'doskonała', 'lokalizacja', 'ul', 'Kasprowicza', '20', 'na', 'Starych', 'Bielanach', 'Bardzo', 'dobra', 'komunikacja', '300', 'm', 'do', 'stacji', 'metra', 'Słodowiec', 'autobusy', 'i', 'tramwaje', 'W', 'okolicy', 'liczne', 'sklepy', 'punkty', 'usługowe', 'i', 'gastronomiczne', 'zielona', 'i', 'cicha', 'okolica', 'w', 'pobliżu', 'Lasek', 'Bielański', 'Stawy', 'Kellera', 'AWF', 'Agencje', 'proszę', 'nie', 'dzwonić', 'ewentualne', 'spotkania', 'tylko', 'z', 'konkretnym', 'klientem', '']"

In [124]:
tokenized = [ x.lower() for x in tokenized ]
str(tokenized)

"['sprzedam', 'mieszkanie', 'o', 'powierzchni', '45', '05', 'm2', 'składające', 'się', 'z', 'trzech', 'pokoi', 'kuchni', 'łazienki', 'przedpokoju', 'oraz', 'balkonu', 'do', 'mieszkania', 'przynależy', 'obszerna', 'piwnica', 'mieszkanie', 'jest', 'bardzo', 'jasne', 'i', 'rozkładowe', 'po', 'remoncie', 'gotowe', 'do', 'zamieszkania', 'mieści', 'się', 'na', '1', 'piętrze', 'w', '8', 'piętrowym', 'budynku', 'z', 'windą', 'czynsz', 'ok', '385', 'zł', 'status', 'prawny', 'pełna', 'własność', 'z', 'księgą', 'wieczystą', 'dużym', 'atutem', 'mieszkania', 'jest', 'doskonała', 'lokalizacja', 'ul', 'kasprowicza', '20', 'na', 'starych', 'bielanach', 'bardzo', 'dobra', 'komunikacja', '300', 'm', 'do', 'stacji', 'metra', 'słodowiec', 'autobusy', 'i', 'tramwaje', 'w', 'okolicy', 'liczne', 'sklepy', 'punkty', 'usługowe', 'i', 'gastronomiczne', 'zielona', 'i', 'cicha', 'okolica', 'w', 'pobliżu', 'lasek', 'bielański', 'stawy', 'kellera', 'awf', 'agencje', 'proszę', 'nie', 'dzwonić', 'ewentualne', 'spotkania', 'tylko', 'z', 'konkretnym', 'klientem', '']"

In [125]:
def preprocessing(opis):
    opis = no_tags(opis)
    tokenized = tokenizer.split(opis)
    l = list(tokenized)
    l = [ x.lower() for x in l ]
    return l

In [126]:
corpus=[]

for row in data.iterrows():
    try:
        opis = row[1][2]
        l = preprocessing(opis)
        corpus.append(l)
    except Exception as e:
        pass

for opis in corpus[:7]:
    print(opis)

['numer', 'oferty', 'w', 'biurze', 'm', '101293', '11']
['numer', 'oferty', 'w', 'biurze', 'd', '100575', '16']
['numer', 'oferty', 'w', 'biurze', 'm', '101712', '11']
['numer', 'oferty', 'w', 'biurze', 'm', '100859', '16']
['numer', 'oferty', 'w', 'biurze', 'm', '97860', '16']
['numer', 'oferty', 'w', 'biurze', '2009']
['sprzedam', 'mieszkanie', 'o', 'powierzchni', '45', '05', 'm2', 'składające', 'się', 'z', 'trzech', 'pokoi', 'kuchni', 'łazienki', 'przedpokoju', 'oraz', 'balkonu', 'do', 'mieszkania', 'przynależy', 'obszerna', 'piwnica', 'mieszkanie', 'jest', 'bardzo', 'jasne', 'i', 'rozkładowe', 'po', 'remoncie', 'gotowe', 'do', 'zamieszkania', 'mieści', 'się', 'na', '1', 'piętrze', 'w', '8', 'piętrowym', 'budynku', 'z', 'windą', 'czynsz', 'ok', '385', 'zł', 'status', 'prawny', 'pełna', 'własność', 'z', 'księgą', 'wieczystą', 'dużym', 'atutem', 'mieszkania', 'jest', 'doskonała', 'lokalizacja', 'ul', 'kasprowicza', '20', 'na', 'starych', 'bielanach', 'bardzo', 'dobra', 'komunikacja', '300', 'm', 'do', 'stacji', 'metra', 'słodowiec', 'autobusy', 'i', 'tramwaje', 'w', 'okolicy', 'liczne', 'sklepy', 'punkty', 'usługowe', 'i', 'gastronomiczne', 'zielona', 'i', 'cicha', 'okolica', 'w', 'pobliżu', 'lasek', 'bielański', 'stawy', 'kellera', 'awf', 'agencje', 'proszę', 'nie', 'dzwonić', 'ewentualne', 'spotkania', 'tylko', 'z', 'konkretnym', 'klientem', '']

In [127]:
import gzip
import sys
import re

f = gzip.open('data/odm.txt.gz', 'rt', encoding='utf-8')
dictionary = {}

for x in f:
    t = x.strip().split(',')
    tt = [ x.strip().lower() for x in t]
    for w in tt[1:]: 
        dictionary[w]=tt[0]

In [128]:
def lematize(w):
    return dictionary.get(w,w)

In [129]:
corpusl = [[ lematize(x) for x in l ] for l in corpus]
for opis in corpusl[:7]:
    print(opis)

['numer', 'oferta', 'w', 'biuro', 'm', '101293', '11']
['numer', 'oferta', 'w', 'biuro', 'd', '100575', '16']
['numer', 'oferta', 'w', 'biuro', 'm', '101712', '11']
['numer', 'oferta', 'w', 'biuro', 'm', '100859', '16']
['numer', 'oferta', 'w', 'biuro', 'm', '97860', '16']
['numer', 'oferta', 'w', 'biuro', '2009']
['sprzedać', 'mieszkać', 'o', 'powierzchnia', '45', '05', 'm2', 'składać', 'siebie', 'z', 'trzy', 'pokój', 'kuchnia', 'łazienka', 'przedpokój', 'oraz', 'balkon', 'do', 'mieszkanie', 'przynależeć', 'obszerny', 'piwnica', 'mieszkać', 'być', 'bardzo', 'jasny', 'i', 'rozkładowy', 'po', 'remont', 'gotowy', 'do', 'zamieszkać', 'mieścić', 'siebie', 'na', '1', 'piętro', 'w', '8', 'piętrowy', 'budynek', 'z', 'winda', 'czynsz', 'oko', '385', 'zł', 'status', 'prawny', 'pełny', 'własność', 'z', 'księga', 'wieczysty', 'duży', 'atut', 'mieszkanie', 'być', 'doskonały', 'lokalizacja', 'ula', 'kasprowicz', '20', 'na', 'starzy', 'bielan', 'bardzo', 'dobry', 'komunikacja', '300', 'm', 'do', 'stacja', 'metr', 'słodowiec', 'autobus', 'i', 'tramwaj', 'w', 'okolica', 'liczny', 'sklep', 'punkt', 'usługowy', 'i', 'gastronomiczny', 'zielony', 'i', 'cichy', 'okolica', 'w', 'pobliże', 'laski', 'bielański', 'staw', 'keller', 'awf', 'agencja', 'prosić', 'on', 'dzwonić', 'ewentualny', 'spotkanie', 'tylka', 'z', 'konkretny', 'klient', '']

In [130]:
from sklearn.feature_extraction.text import TfidfVectorizer

corpus = [ ' '.join(words) for words in corpusl]

tfidf = TfidfVectorizer()
tfs = tfidf.fit_transform(corpus)

In [131]:
feature_names = tfidf.get_feature_names()
print(feature_names[:150])

['00', '000', '000zł', '002', '009', '00andrzej', '01', '014', '02', '025', '03', '035', '05', '06', '062', '06m2', '07m2', '07m23', '08', '085elżbieta', '087', '094', '0m', '10', '100', '1000', '10000', '100016', '100057', '100069', '100088', '100100', '100196', '100197', '100199', '100323', '100348', '100351', '100363', '100380', '100448', '100492', '100512', '100574', '100575', '100587', '100618', '100625', '100647', '100649', '100654', '100668', '10066biuro', '100695', '10069biuro', '100741', '100788', '100795', '100817', '100835', '100859', '100895', '100938', '100m', '100m2', '101', '101029', '101039', '101086', '101088', '101103', '101130', '101191', '101203', '101242', '101244', '101264', '101265', '101293', '101302', '101328', '101354', '101373', '101375', '101378', '101393', '101394', '101395', '101441', '101488', '101525', '101540', '101543', '101565', '101624', '101643', '101647', '101653', '101654', '101663', '101690', '101712', '101719', '101720', '101734', '102', '105', '10602', '10651', '108', '10m2', '10min', '10tym', '11', '110m2', '112', '113', '114', '115', '11522', '116', '118', '118bujak', '11m', '11m2', '11piwnica', '12', '120', '12083', '12164', '12171', '12176', '122', '12353', '125', '127', '1273m2', '1278', '128', '129', '1293', '1294', '1295', '1296', '1297', '1298', '12cm', '12ej', '12m', '12m2']

In [132]:
corpus_index = range(len(corpus))
df = pd.DataFrame(tfs.T.todense(), index=feature_names, columns=corpus_index).T
df

,00,000,000zł,002,009,00andrzej,01,014,02,025,...,żolibórz,życzyć,żygońdamian,żygońinspace,żywica,żywopłot,żywy,żyć,żłobek,żłóbek
0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
930,0.0,0.104155,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
931,0.0,0.114765,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
932,0.0,0.113898,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
933,0.0,0.000000,0.240107,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
934,0.0,0.045968,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [133]:
corpus = [ [ word for word in words if not word.isnumeric() ] for words in corpusl ]
nn_corpus = [ ' '.join(words) for words in corpus ]

tfidf = TfidfVectorizer()
tfs = tfidf.fit_transform(nn_corpus)

In [134]:
feature_names = tfidf.get_feature_names()
print(feature_names[:150])

['000zł', '00andrzej', '06m2', '07m2', '07m23', '085elżbieta', '0m', '10066biuro', '10069biuro', '100m', '100m2', '10m2', '10min', '10tym', '110m2', '118bujak', '11m', '11m2', '11piwnica', '1273m2', '12cm', '12ej', '12m', '12m2', '130m2', '130m2komunikacja', '13m2', '13m2okolice', '13m2w', '140x200', '14m2', '14tys', '150m', '15m2', '15tys', '160m2', '160polecam', '160polecam504', '16ej', '16m2', '16m2lokal', '170zł', '17m2', '180cm', '182w', '18m', '18m2', '18m26', '18m5', '190cm', '1911roku', '1937roku', '1963winda', '1994r', '19m2', '1klasyczny', '1m', '1m2', '1mieszkanie', '1nietaknieco', '1okna', '1os', '1osoba', '1taras', '2008r', '200m', '2011najbliższe', '2015r', '2018r', '2021r', '2022r', '20m2', '20min', '21m', '24h', '254678s', '254679s', '254680s', '25m2', '267cm', '270cm', '273facebook', '27m2', '28m2', '29a', '2cena', '2m', '2m2', '2mdodatkowo', '2os', '300m', '300mb', '308paweł', '30m2', '30tys', '31mkw', '33m2', '348malinowski', '34m2', '34na', '350m', '35zapraszam', '36m2', '37m2', '38m2', '3d', '3m', '3m2', '3m2budynek', '3m2do', '3rynek', '400m', '40m2', '426sobiecki', '42m2', '43m2', '45m', '45m2', '46m2', '47m2', '48m22', '490zł', '4m', '4m2', '4m2pokój', '4mmieszkanie', '50te', '513142152dlaczego', '515216746agencjom', '51m2', '530zł', '538m', '54m', '553rozglądasz', '553zachęcam', '55m', '55m2', '569do', '569tel', '56cm', '56m2', '56mmieszkanie', '57m', '57m2', '5b', '5czynsz', '5dogodne', '5m', '5m2', '5mkw']

In [135]:
df = pd.DataFrame(tfs.T.todense(), index=feature_names, columns=corpus_index).T
df

,000zł,00andrzej,06m2,07m2,07m23,085elżbieta,0m,10066biuro,10069biuro,100m,...,żolibórz,życzyć,żygońdamian,żygońinspace,żywica,żywopłot,żywy,żyć,żłobek,żłóbek
0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
930,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
931,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
932,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
933,0.246513,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
934,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [136]:
tfidf = TfidfVectorizer()
tfs = tfidf.fit_transform(nn_corpus)
feature_names = tfidf.get_feature_names()
print(feature_names[:150])

['000zł', '00andrzej', '06m2', '07m2', '07m23', '085elżbieta', '0m', '10066biuro', '10069biuro', '100m', '100m2', '10m2', '10min', '10tym', '110m2', '118bujak', '11m', '11m2', '11piwnica', '1273m2', '12cm', '12ej', '12m', '12m2', '130m2', '130m2komunikacja', '13m2', '13m2okolice', '13m2w', '140x200', '14m2', '14tys', '150m', '15m2', '15tys', '160m2', '160polecam', '160polecam504', '16ej', '16m2', '16m2lokal', '170zł', '17m2', '180cm', '182w', '18m', '18m2', '18m26', '18m5', '190cm', '1911roku', '1937roku', '1963winda', '1994r', '19m2', '1klasyczny', '1m', '1m2', '1mieszkanie', '1nietaknieco', '1okna', '1os', '1osoba', '1taras', '2008r', '200m', '2011najbliższe', '2015r', '2018r', '2021r', '2022r', '20m2', '20min', '21m', '24h', '254678s', '254679s', '254680s', '25m2', '267cm', '270cm', '273facebook', '27m2', '28m2', '29a', '2cena', '2m', '2m2', '2mdodatkowo', '2os', '300m', '300mb', '308paweł', '30m2', '30tys', '31mkw', '33m2', '348malinowski', '34m2', '34na', '350m', '35zapraszam', '36m2', '37m2', '38m2', '3d', '3m', '3m2', '3m2budynek', '3m2do', '3rynek', '400m', '40m2', '426sobiecki', '42m2', '43m2', '45m', '45m2', '46m2', '47m2', '48m22', '490zł', '4m', '4m2', '4m2pokój', '4mmieszkanie', '50te', '513142152dlaczego', '515216746agencjom', '51m2', '530zł', '538m', '54m', '553rozglądasz', '553zachęcam', '55m', '55m2', '569do', '569tel', '56cm', '56m2', '56mmieszkanie', '57m', '57m2', '5b', '5czynsz', '5dogodne', '5m', '5m2', '5mkw']

In [137]:
df = pd.DataFrame(tfs.T.todense(), index=feature_names, columns=corpus_index).T
df

,000zł,00andrzej,06m2,07m2,07m23,085elżbieta,0m,10066biuro,10069biuro,100m,...,żolibórz,życzyć,żygońdamian,żygońinspace,żywica,żywopłot,żywy,żyć,żłobek,żłóbek
0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
930,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
931,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
932,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
933,0.246513,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
934,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [138]:
tfidf = TfidfVectorizer(min_df=2)
tfs = tfidf.fit_transform(nn_corpus)
feature_names = tfidf.get_feature_names()
print(feature_names[:150])

['085elżbieta', '100m', '10m2', '11m2', '12ej', '12m2', '14m2', '15m2', '16ej', '16m2', '18m', '18m26', '18m5', '19m2', '1mieszkanie', '2008r', '200m', '20min', '24h', '25m2', '273facebook', '28m2', '2m', '300m', '38m2', '3m2', '42m2', '45m2', '46m2', '48m22', '4m', '4m2', '56m2', '56mmieszkanie', '5m', '5m2', '608648510nestor', '6m2', '700zł', '75m2', '799agencjom', '799w', '7m', '7m2', '869zapraszam', '8m2', '93opisy', '9m', 'aby', 'aco', 'administracyjny', 'administrować', 'adres', 'aga', 'agd', 'agencja', 'agent', 'aktualny', 'aktywny', 'al', 'ala', 'aleja', 'aluzyjny', 'amica', 'aneks', 'antresola', 'antysmogowystrony', 'antywłamaniowy', 'apartament', 'apartamentowiec', 'apartamentowy', 'apartamentyostródzkaw', 'app', 'apteka', 'aranżacja', 'aranżacyjny', 'architekt', 'architektoniczny', 'architektura', 'are', 'arkadia', 'armatura', 'art', 'arteria', 'atrakcja', 'atrakcyjny', 'atrium', 'atut', 'auchan', 'aut', 'auto', 'autobus', 'autobusowy', 'aż', 'balkon', 'balkondo', 'balkonowy', 'balkontoaleta', 'balkony6', 'balustrada', 'banach', 'bank', 'bankowy', 'bar', 'barbar', 'bardziej', 'bardzo', 'barlinecki', 'basen', 'bateria', 'bazarek', 'belwederski', 'bem', 'bemowo', 'bendahmane', 'benzynowy', 'berensona', 'beton', 'betonowy', 'beza', 'bezpieczeństwo', 'bezpieczny', 'bezpośredni', 'bezproblemowy', 'bezpłatny', 'bhs', 'białołęcki', 'białołęka', 'biały', 'biedronka', 'bielan', 'bielany', 'bielański', 'bitwa', 'biurko', 'biuro', 'biuronieruchomoscizacisze', 'biurowy', 'biznesowy', 'blacha', 'blat', 'bliski', 'bliskość', 'bliźniaczy', 'bliżej', 'blok', 'blue', 'bo', 'bogaty', 'boisko']

In [139]:
df = pd.DataFrame(tfs.T.todense(), index=feature_names, columns=corpus_index).T
df

,085elżbieta,100m,10m2,11m2,12ej,12m2,14m2,15m2,16ej,16m2,...,świeżość,świeży,żabka,żaden,że,żolibórz,życzyć,żywy,żyć,żłobek
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
930,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
931,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
932,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
933,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
934,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.038031,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [140]:
tfidf = TfidfVectorizer(min_df=0.002)
tfs = tfidf.fit_transform(nn_corpus)
feature_names = tfidf.get_feature_names()
print(feature_names[:150])

['085elżbieta', '100m', '10m2', '11m2', '12ej', '12m2', '14m2', '15m2', '16ej', '16m2', '18m', '18m26', '18m5', '19m2', '1mieszkanie', '2008r', '200m', '20min', '24h', '25m2', '273facebook', '28m2', '2m', '300m', '38m2', '3m2', '42m2', '45m2', '46m2', '48m22', '4m', '4m2', '56m2', '56mmieszkanie', '5m', '5m2', '608648510nestor', '6m2', '700zł', '75m2', '799agencjom', '799w', '7m', '7m2', '869zapraszam', '8m2', '93opisy', '9m', 'aby', 'aco', 'administracyjny', 'administrować', 'adres', 'aga', 'agd', 'agencja', 'agent', 'aktualny', 'aktywny', 'al', 'ala', 'aleja', 'aluzyjny', 'amica', 'aneks', 'antresola', 'antysmogowystrony', 'antywłamaniowy', 'apartament', 'apartamentowiec', 'apartamentowy', 'apartamentyostródzkaw', 'app', 'apteka', 'aranżacja', 'aranżacyjny', 'architekt', 'architektoniczny', 'architektura', 'are', 'arkadia', 'armatura', 'art', 'arteria', 'atrakcja', 'atrakcyjny', 'atrium', 'atut', 'auchan', 'aut', 'auto', 'autobus', 'autobusowy', 'aż', 'balkon', 'balkondo', 'balkonowy', 'balkontoaleta', 'balkony6', 'balustrada', 'banach', 'bank', 'bankowy', 'bar', 'barbar', 'bardziej', 'bardzo', 'barlinecki', 'basen', 'bateria', 'bazarek', 'belwederski', 'bem', 'bemowo', 'bendahmane', 'benzynowy', 'berensona', 'beton', 'betonowy', 'beza', 'bezpieczeństwo', 'bezpieczny', 'bezpośredni', 'bezproblemowy', 'bezpłatny', 'bhs', 'białołęcki', 'białołęka', 'biały', 'biedronka', 'bielan', 'bielany', 'bielański', 'bitwa', 'biurko', 'biuro', 'biuronieruchomoscizacisze', 'biurowy', 'biznesowy', 'blacha', 'blat', 'bliski', 'bliskość', 'bliźniaczy', 'bliżej', 'blok', 'blue', 'bo', 'bogaty', 'boisko']

In [141]:
df = pd.DataFrame(tfs.T.todense(), index=feature_names, columns=corpus_index).T
df

,085elżbieta,100m,10m2,11m2,12ej,12m2,14m2,15m2,16ej,16m2,...,świeżość,świeży,żabka,żaden,że,żolibórz,życzyć,żywy,żyć,żłobek
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
930,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
931,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
932,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
933,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
934,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.038031,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [154]:
tfidf = TfidfVectorizer(max_df=100 , min_df=2)
tfs = tfidf.fit_transform(nn_corpus)
feature_names = tfidf.get_feature_names()
print(feature_names[:150])

['085elżbieta', '100m', '10m2', '11m2', '12ej', '12m2', '14m2', '15m2', '16ej', '16m2', '18m', '18m26', '18m5', '19m2', '1mieszkanie', '2008r', '200m', '20min', '24h', '25m2', '273facebook', '28m2', '2m', '300m', '38m2', '3m2', '42m2', '45m2', '46m2', '48m22', '4m', '4m2', '56m2', '56mmieszkanie', '5m', '5m2', '608648510nestor', '6m2', '700zł', '75m2', '799agencjom', '799w', '7m', '7m2', '869zapraszam', '8m2', '93opisy', '9m', 'aby', 'aco', 'administracyjny', 'administrować', 'adres', 'aga', 'agd', 'agencja', 'agent', 'aktualny', 'aktywny', 'al', 'ala', 'aleja', 'aluzyjny', 'amica', 'aneks', 'antresola', 'antysmogowystrony', 'antywłamaniowy', 'apartament', 'apartamentowiec', 'apartamentowy', 'apartamentyostródzkaw', 'app', 'apteka', 'aranżacja', 'aranżacyjny', 'architekt', 'architektoniczny', 'architektura', 'are', 'arkadia', 'armatura', 'art', 'arteria', 'atrakcja', 'atrakcyjny', 'atrium', 'atut', 'auchan', 'aut', 'auto', 'autobus', 'autobusowy', 'aż', 'balkon', 'balkondo', 'balkonowy', 'balkontoaleta', 'balkony6', 'balustrada', 'banach', 'bank', 'bankowy', 'bar', 'barbar', 'bardziej', 'bardzo', 'barlinecki', 'basen', 'bateria', 'bazarek', 'belwederski', 'bem', 'bemowo', 'bendahmane', 'benzynowy', 'berensona', 'beton', 'betonowy', 'beza', 'bezpieczeństwo', 'bezpieczny', 'bezpośredni', 'bezproblemowy', 'bezpłatny', 'bhs', 'białołęcki', 'białołęka', 'biały', 'biedronka', 'bielan', 'bielany', 'bielański', 'bitwa', 'biurko', 'biuronieruchomoscizacisze', 'biurowy', 'biznesowy', 'blacha', 'blat', 'bliski', 'bliskość', 'bliźniaczy', 'bliżej', 'blok', 'blue', 'bo', 'bogaty', 'boisko', 'bokserski']

In [155]:
df = pd.DataFrame(tfs.T.todense(), index=feature_names, columns=corpus_index).T
df

,085elżbieta,100m,10m2,11m2,12ej,12m2,14m2,15m2,16ej,16m2,...,świeżość,świeży,żabka,żaden,że,żolibórz,życzyć,żywy,żyć,żłobek
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
930,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
931,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
932,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
933,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
934,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.048119,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [163]:
from sklearn.feature_selection import VarianceThreshold
sel = VarianceThreshold(threshold=0.01)
sel.fit_transform(df).shape

(935, 2)

In [165]:
from sklearn.feature_selection import VarianceThreshold
sel = VarianceThreshold(threshold=0.001)
sel.fit_transform(df).shape

(935, 25)

In [166]:
from sklearn.feature_selection import VarianceThreshold
sel = VarianceThreshold(threshold=0.0001)
sel.fit_transform(df).shape

(935, 591)

## UWAGA

Feature selection with sparse data

If you use sparse data (i.e. data represented as sparse matrices), chi2, mutual_info_regression, mutual_info_classif will deal with the data without making it dense.

https://scikit-learn.org/stable/modules/feature_selection.html